@import url("../main.css");

/* Dados do psicologo ----------------------------- */
.container-ver-psi{
    position: fixed; 
    background-color: var(--secondary-cream-700);
    height: auto;
    padding: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-lg);
    align-items: center;
    box-shadow: 0px 0px 30px -5px #3a3a3a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    gap: 10px;
    z-index: 81;
}

.container-info-psi{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background: var(--green-light-default-100);
    border-radius: var(--border-radius-md);
    justify-content: space-between;
    align-items: center;
}

.container-info-psi img{
    width: 100px;
    height: 100%;
    border-radius: 0px var(--border-radius-md) var(--border-radius-md) 0px;
    object-fit: cover;
}
.preview-dados-psi hr{
    border: none;
    height: 85%;
    width: 1px;
    background: var(--white-700);
    align-self: center;
}

.preview-dados-psi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin: 5px;
    height: 100%;
}

.container-dados{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    margin: 5px;
    padding: 10px;
}
.preview-dados-psi h2{
    font-size: 1rem;
    font-weight: 600;
}
.preview-dados-psi p{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.container-conhecimentos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    margin: 5px;
    padding: 10px;
    height: 100%
}
.container-conhecimentos h2{
    font-size: 1rem;
    font-weight: 600;
}

.container-conhecimentos div,
.perfil-psi-all-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.container-conhecimentos .tag-chip{
    background: var(--white-200);
    color: var(--black-950);
    border: 1px solid var(--white-700);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: 500;
    height: max-content;
}

/* Horários e dinâmica -------------------------- */
.agenda-data-horario{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 100%;
    background-color: var(--white-200);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-xs);
}

.label-agendamento{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.agenda-data-horario div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    flex-wrap: wrap
}

.agenda-data-horario > select{
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-xs);
    font-size: 1rem;
}

.btn-data-agenda{
    background-color: var(--accent-dark-green-700);
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    border-radius: var(--border-radius-md);
    border: none;
    color: var(--white-50);
}

.btn-data-agenda:hover{
    background-color: var(--accent-dark-green-800);
}

.btn-data-agenda.disabled{
    background-color: var(--white-700) !important;
    color: var(--black-950);
    cursor: not-allowed;
}

.btn-data-agenda.selected{
    background-color: var(--tertiary-light-green-700);
    color: var(--black-950)
}

/* Legenda ------------------------------------- */
.container-legenda-horarios{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.tag-legenda{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tag-legenda p{
    font-size: 0.9rem;
    font-weight: 500;
}
.color-tag-livre,
.color-tag-ocupado,
.color-tag-seleacionado{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}
.color-tag-ocupado{
    background-color: var(--white-800);
}
.color-tag-livre{
    background-color: var(--accent-dark-green-700);
}
.color-tag-seleacionado{
    background-color: var(--tertiary-light-green-700);
}

/* Area de botões ------------------------------- */
.btn-agendar-cancelar{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    width: 100%;
    justify-content: flex-end;
}

/* Responsividade ------------------------- */

@media(max-width:800px){
    .container-ver-psi{
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 70px;
        border-radius: 0px;
        box-shadow: 0px; 
    }
    .container-info-psi{
        height: auto;
    }
    .preview-dados-psi hr{
        width: 85%;
        height: 1px;
    }

    .preview-dados-psi{
        flex-direction: column;
    }
}