@import url("../main.css");

/* UI de icones -------------------*/
.icon-attention,
.icon-ui,
.icon-edit{
    box-sizing: content-box;
    border-radius: var(--spacing-xs);
    font-size: 1.8rem;
    margin-top:2px;
    width:28px;
    height:28px;
    padding:var(--spacing-xs);
    cursor: pointer;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-ui{
    background-color: var(--accent-dark-green-700);
    color: var(--white-100);
}

.icon-ui:hover{
    background-color: var(--accent-dark-green-800);
}

.icon-edit{
    background-color: var(--tertiary-light-green-700);
    color: var(--black-950);
}

.icon-edit:hover{
    background-color: var(--tertiary-light-green-600);
}

.icon-attention {
    background-color: var(--accent-mid-orange-600);
    color: var(--black-950);
}

.icon-attention:hover{
    background-color: var(--primary-orange-700);
}
