@import url("../main.css");
@import url("../ui/buttons.css");
@import url("./main_login_cadastro.css");

/* ===== Navegação login ===== */
.container-cadastrar-entrar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    padding: 15px 0px;
    width: 100%;
}


.container-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.link-cadastro {
    padding: 10px 2px;
    text-decoration: underline;
}

.link-cadastro:hover { color: var(--accent-dark-green-800); }