.artigo-page-card{
    width: 100%;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    background: var(--secondary-cream-700);
    display: flex;
    flex-direction: column;
}

/* Imagem principal do artigo */
.artigo-banner > img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/* Enunciado do card de artigo */
.artigo-content{
    display: flex;
    height:100%;
    padding: var(--spacing-sm);
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}
.artigo-content h2{
    color: var(--dark-100);
    font-weight: 600;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
}
.artigo-content p {
    font-size: 1rem;
}

/* Outras infos */
.artigo-autor{
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    font-weight: 600;
}

.artigo-autor .foto-autor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.artigo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Button */

.btn-artigo {
    width: clamp(100px, 40%, 200px);
}