@import url("../main.css");
@import url("../ui/buttons.css");
@import url("../ui/icons.css");

.section-home {
    padding-inline: 5%;
    width: 100%;
    box-sizing: border-box;
}

.area-card-psicologos.col {
    background-color: var(--white-300);
    border-radius: var(--border-radius-md);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-self: center;
    padding-inline: 1rem;
}

.area-card-psicologos.row {
    background-color: var(--white-300);
    border-radius: var(--border-radius-md);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    gap: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    padding-inline: 3%;
}


/* Cards (default columun) ------------------- */

.card-psi {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom,
            var(--secondary-cream-800) 20%,
            var(--secondary-cream-700) 20%);
    padding: 20px;
    gap: 10px;

    height: 350px;
    margin: 0px 5px 15px 5px;
}


.infos-psi {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding-top: 2rem;
    border-bottom: 0.5px solid var(--white-700);
}

.informacoes-gerais-psi-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.local-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.infos-psi h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.infos-psi p,
.title-conhecimentos {
    font-size: 0.8rem;
    margin: 4px 0;
    text-align: left;
    font-weight: 500;
}

.tags-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    justify-content: flex-start;
}

.tags-cards a {
    background: var(--white-200);
    color: var(--black-950);
    border: 1px solid var(--white-700);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: 500;
    width: max-content;
    height: max-content;
}

.tags-more {
    position: relative;
    display: inline-block;
}

.tags-count {
    background: var(--white-200);
    color: var(--black-950);
    border: 1px solid var(--white-700);
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 500;
    width: max-content;
    height: max-content;
    font-size: 0.8rem;
    cursor: pointer;
}

.tags-tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    background: transparent;
    border-radius: 8px;
    padding: 10px;
    

    display: flex;
    flex-direction: column;
    gap: 5px;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}
.tags-tooltip span{
    background: var(--white-200);
    color: var(--black-950);
    border: 1px solid var(--white-700);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: 500;
    width: max-content;
    height: max-content;
}

.tags-more:hover .tags-tooltip {
    opacity: 1;
    pointer-events: auto;
}

.psi-foto-perfil {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.psi-foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.container-btn-ver {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}


/* Cards rows */

.card-psi.row {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    gap: 20px;
    background: linear-gradient(to right,
            var(--white-700) 10%,
            var(--secondary-cream-700) 10%);
}

.card-psi.row .psi-foto-perfil {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.card-psi.row .infos-psi.row {
    padding: 0 20px;
    padding-left: 5%;
    border-bottom: none;
    border-right: 0.5px solid var(--white-700);
}

.card-psi.row .container-btn-ver {
    justify-content: flex-end;
    align-items: flex-end;
}

.especialidades-psicologo.row {
    width: 100%;
    padding: 0 20px;
}

.informacoes-gerais-psi-card.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media(max-width:716px) {
    .card-psi.row {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        background: linear-gradient(to bottom,
                var(--white-700) 20%,
                var(--secondary-cream-700) 20%);
    }

    .informacoes-gerais-psi-card.row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-psi.row .infos-psi.row {
        border-bottom: 0.5px solid var(--white-700);
        border-right: none;
        padding: 10px 0;
    }

    .especialidades-psicologo.row {
        padding: 0;
    }
}

@media(max-width:925px) {
    .area-card-psicologos.col {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@media(max-width:1400px) {
    .area-card-psicologos.col {
        grid-template-columns: repeat(auto-fit, minmax(200px, 180px));
        gap: 0px;
    }
}
@media(min-width:1400px) {
    .area-card-psicologos.col {
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        gap: 0px;
    }
}