@import url("./main.css");
@import url("./ui/buttons.css");
@import url("./ui/icons.css");

.container-section-perfil {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  margin: 0 auto;
  padding-inline: 1rem;
  padding-inline: 10%;
  gap: 20px;
}

/* Container principal com fundo verde claro */
.perfil-container {
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 50%;
  gap: 1rem;
  flex-direction: column;
}
.sobre-notif-container{
  width: 100%;
}

/* Card de perfil */
.card-perfil-content {
  background: var(--bege-default-100);
  border-radius: var(--border-radius-md);
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.banner-perfil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-radius: var(--border-radius-md) var(--border-radius-md) 0px 0px;

  background-image: url("../img/fundo-perfil.png");
  background-size: cover;
  background-position: center;

  z-index: 0;
}

/* Foto e informações */
.foto-perfil,
#perfilFoto {
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 2;
}

.foto-perfil img,
#perfilFoto img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.container-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-info p {
  font-weight: 600;
}

.info-perfil h3 {
  margin: 0 0 6px 0;
  font-size: 1.2rem;
  font-weight: 600;
}



/* Botões e contatos */
.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 24px;
}

.contato {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-contatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-config-artigos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botão de ("Config") do Perfil*/

.button-config {
  background: var(--green-default-100);
  color: var(--white-default-100);
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.button-config:hover {
  background: var(--sea-green-100);
}

.button-config a {
  text-decoration: none;
  color: inherit;
}


/* =========================
   Button Sair
========================= */
.container-sair {
  background-color: var(--apricot-100);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}







/* =========================
   CALENDÁRIO
========================= */

.container-calendario {
  background: var(--bege-default-100);
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  height: max-content;
}

/* Título */
.container-calendario h1 {
  text-align: center;
  background: var(--orange-default-100);
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
}

/* =========================
   HEADER (MÊS + SETAS)
========================= */

.header-calendario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-calendario h2 {
  font-size: 1.4rem;
  color: var(--black-default-100);
  text-transform: capitalize;
  margin: 10px 0 0 0;
}

/* Botões de navegação */

.button-seta-calendario {
  background: var(--gray-100);
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.button-seta-calendario svg {
  width: 30px;
  height: 30px;
}

.button-seta-calendario:hover {
  scale: 1.05;
}

/* =========================
   GRID DO CALENDÁRIO
========================= */

.grid-calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding-inline: 10px;
  padding-bottom: 20px;
}

/* Nome dos dias da semana */

.dia-semana {
  text-align: center;
  font-weight: 600;
  padding: 8px 0;
  color: var(--black-default-100);
}

/* =========================
   DIA DO CALENDÁRIO
========================= */

.dia-calendario {
  background: var(--alabaster-100);
  border: 1px solid var(--alto-100);
  border-radius: 10px;
  padding: 8px;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s;
}

.dia-calendario:hover {
  background: var(--green-default-100);
  color: var(--white-default-100);
}

/* Número do dia */

.numero-dia {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

/* Dia atual */

.dia-hoje {
  background: var(--green-default-100);
  color: var(--white-default-100);
}

/* =========================
   HORÁRIOS DO DIA
========================= */

.horarios-dia {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.horario {
  font-size: 0.75rem;
  background: var(--white-default-100);
  padding: 2px 6px;
  border-radius: 5px;
  width: fit-content;
}

/* "+ X mais" */

.mais-horarios {
  font-size: 0.7rem;
  opacity: 0.7;
}

/* =========================
   MODAL
========================= */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  width: 420px;
  background: var(--white-default-100);
  border-radius: 12px;
  padding: 30px;
  position: relative;
}

/* Botão fechar */

.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Horários dentro do modal */

.modal-horarios {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.ocupado-modal {
  background: var(--green-light-default-100);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.9rem;
}

/* Sobre ----------------------------- */

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card-sobre-container {
  width: 100%;
  font-size: 1rem;
  min-height: 100px;
  border-radius: 10px;
  border: 1px solid #666666;
  padding: 10px;
}

.card-info-container h4 {
  font-size: 1rem;
  width: max-content;
  font-weight: 600;
}

.card-ficha-container {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #666666;
  padding: 10px;
}

.card-ficha-container-psi {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #666666;
  padding: 10px;
}

.container-horarios-psi h4 {
  font-size: 1.1rem;
  width: max-content;
  font-weight: 600;
}

.container-horario-atendimento-psi {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
}

.container-horario-atendimento-psi p {
  border: 1px solid #555;
  width: 100%;
  border-radius: 15px;
  padding: 10px;

}

/* Notificacoes ----------------------------- */

.notif-container{
  width: 100%;
  height: 100%;
  background: var(--bege-default-100);
  border-radius: 20px;
  padding-bottom: 20px;
}

.notif-header{
  background: var(--orange-default-100);
  padding: 20px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.notif-header h1{
  margin:0;
  font-size: 28px;
}

.notif-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:var(--grayish-white-100);
  margin:20px;
  padding:20px;
  border-radius:20px;
}

.notif-left{
  display:flex;
  align-items:center;
  gap:20px;
}

.notif-date{
  font-size:25px;
  font-weight:600;
}

.icon-green{
  background:#9cd18b;
  padding:12px;
  border-radius:15px;
}

.icon-orange{
  background:#f2a45f;
  padding:12px;
  border-radius:15px;
}

.btn-start{
  background:#245c3d;
  color:white;
  border:none;
  padding:14px 30px;
  border-radius:15px;
  font-size:18px;
  cursor:pointer;
}

.btn-view{
  background:#cf5c38;
  color:black;
  border:none;
  padding:14px 30px;
  border-radius:15px;
  font-size:18px;
  cursor:pointer;
}
/* ------------------MEDIA--------------------------- */
@media (max-width: 480px) {
  .container-section-perfil {
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0.5rem;
  }

  .perfil-container {
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 10px;
    padding: 5px;
  }

  .card-perfil-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
  }


  .info-perfil h3 {
    font-size: 0.8rem;
  }

  .info-perfil p {
    font-size: 0.7rem;
  }

  .info-perfil label {
    font-size: 0.7rem;
  }

  .settings {
    justify-content: space-between;
  }

  .contato {
    gap: 4px;
  }

  .contato span {
    font-size: 0.6rem;
    text-wrap: nowrap;
  }

  .button-config {
    font-size: 0.6rem;
    padding: 4px;
  }

  .container-calendario {
    padding: 5px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0.3rem;
  }

  .container-calendario h1 {
    font-size: 1rem;
  }

  .semana-nav {
    gap: 6px;
    width: 100%;
    justify-content: space-between;
  }

  .dias {
    gap: 7px;
    margin: 12px 0 0 0;
    width: 100%;
    justify-content: space-between;
  }

  .coluna-dia {
    width: auto;
    height: auto;
    flex: 1;
  }

  .dia strong {
    font-size: 0.6rem;
  }

  .dia small {
    font-size: 0.6rem;
  }

  .horario {
    font-size: 0.6rem;
    padding: 2px 5px;
    width: auto;
    height: auto;
  }

  .footer-dia {
    margin-top: auto;
    padding: 0px;
  }

  .footer-dia button {
    font-size: 0.6rem;
    width: 100%;
    padding: 2px 6px;
  }

  .sobre-notif-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
  }

}

@media (min-width: 481px) and (max-width: 799px) {
  .container-section-perfil {
    align-items: center;
    width: 100%;
    margin-inline: 0;
    padding-inline: 2rem;

  }

  .perfil-container {
    flex-direction: row;
    height: auto;
    width: 100%;
    gap: 10px;
    padding: 5px;
  }

  .card-perfil-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }





  .info-perfil h3 {
    font-size: 0.8rem;
  }

  .info-perfil p {
    font-size: 0.7rem;
  }

  .info-perfil label {
    font-size: 0.7rem;
  }

  .settings {
    justify-content: space-between;
  }

  .contato {
    gap: 4px;
  }

  .contato span {
    font-size: 0.9rem;
    text-wrap: nowrap;
  }

  .button-config {
    font-size: 0.9rem;
    padding: 10px;
  }

  .container-calendario {
    padding: 5px;
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  .container-calendario h1 {
    font-size: 1rem;
  }

  .semana-nav {
    gap: 6px;
  }

  .dias {
    gap: 7px;
    margin: 12px 0 0 0;
  }

  .coluna-dia {
    max-width: max-content;
    width: max-content;
    height: auto;
  }

  .dia strong {
    font-size: 0.6rem;
  }

  .dia small {
    font-size: 0.6rem;
  }

  .horario {
    font-size: 0.6rem;
    padding: 2px 5px;
  }

  .footer-dia {
    margin-top: auto;
    padding: 0px;
  }

  .footer-dia button {
    font-size: 0.6rem;
    width: 100%;
    padding: 2px 6px;
  }

  .sobre-notif-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

}

@media (min-width: 800px) and (max-width: 1046px) {
  .horario {
    padding: 5px;
  }
}